@charset "UTF-8";

body{
  background-color: #00aeff;
  font-family: "Open Sans";
  color: white;
  padding-right: 0;
}

.wrapper{
  text-align: center;
}

h1{
  color: white;
  font-size: 65px;
  text-align: center;
}

h2{
  color: white;
  font-size: 35px;
  text-align: center;
}

h3{
  color: white;
  text-align: center;
  font-size: 16px;
}

.temperatur{
  color: white;
  font-size: 60px;
}

p{
  font-size: 16px;
  color: white;
  text-align: center;
}

a{
  color: white;
}

.reduziert{
  border-top: #aaa solid 1px;
  float: right;
  margin-right: 10px;
}
