@charset "UTF-8";

::-webkit-scrollbar{
	display: none;
}

/* General */
body{
	font-family: "Open Sans";
	margin: 0;
	text-align: center;
}

main{
	padding-right: 0;
	padding-bottom: 30px;
}

img{
	width: 100%;
}

.mobileinfo{
	height: 250px;
	width: auto;
}

img:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
	text-align: center;
}

a.custom{
	background-color: #F4F4F4;
}

a:hover{
	color: #d10a10 !important;
	text-decoration: none;
}

.custom{
	color: white;
	height: 0;
}

/* Menübar */
.container-fluid.header{
	padding-left: 0;
	padding-right: 0;
}

.backgroundimg{
	margin: 0;
}

.header{
	background-color: #333333;
	height: 45px;
	color: white;
	text-align: center;
	font-size: 28px;
	padding-bottom: 5px;
}

/* Stadt*/
.city{
	margin-bottom: 15px;
	/*padding-top: 275px;*/
	font-family: "Open Sans";
	font-size: 24px;
}

/* Icons/Symbole */

.symbol{
	width: 35px;
	height: 35px;
	margin-right: 15px;
}

.icon{
	height: 40px;
	width: 40px;
}


/* Desktop / Tablets */
@media screen and (min-width: 768px){
	.desktop{
		margin-top: 30px;
	}
}

/* Mobile */
@media screen and (max-width : 768px)  {
	.infos{
		font-size: 13px;
	}

	.folgende{
		margin-top: 20px;
	}

	.mobile{
		padding-right: 5px;
	}

	.mobile2{
		padding-left: 5px;
	}

	.header{
		font-size: 18px;
		padding-top: 5px;
		padding-bottom: 0px;
		height: 40px;
	}

	.symbol{
		width: 20px;
		height: 20px;
	}

	.city{
		font-size: 16px;
	}

	@media screen and (max-width : 450px) {
		.infos{
			font-size: 10px;
		}

		.header{
			padding-top: 8px;
			font-size: 15px;
		}

		.datum{
			font-size: 11px;
		}
	}
