@charset "UTF-8";

::-webkit-scrollbar{
	display: none;
}

/* General */
body{
	font-family: "Open Sans";
	margin: 0;
}

main{
	padding-right: 0;
}

footer{
	background-color: #333333;
	height: 85px;
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

a{
	color: white;
}

.return.value.error{
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 50px;

}
.error-heading{
	font-size: 30px;
	font-weight: 900;
}
.custom{
	color: white;
	border: none;
	padding-left: 10px;
}

.container-fluid.header{
	padding-left: 0;
	padding-right: 0;
}

/* Menübar */
.navbar{
	background-color: #333333;
	border-radius: inherit;
}

.back{
	text-align: center;
	margin-bottom: 10px;
	/*border-bottom: #aaa solid 1px;*/
}

img.back{
	height: 15px;
	width: 15px;
	margin-top: 13px;
	margin-right: 10px;
/*	border-bottom: #aaa solid 0px;*/

}

a.back{
	color: #333333;
	/*border-bottom: #aaa solid 0px;*/
}

.navbar-brand{
	background-color: #333333;
	color: white !important;
	text-align: center;
}

.navbar-brand:hover{
	background-color: #333333 !important;
}

.backgroundimg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 452px;
	margin: 0;
}

.background.row{
	background-color: rgba(0, 0, 0, 0.7);
	margin-right: 0;
	height: 125px;
	margin-top: 277px;
}

a:hover{
	color: #d10a10 !important;
}

/* Aktuell */
.city{
	margin-top: 50px;
	margin-bottom: 0;
	/*padding-top: 275px;*/
	font-family: "Open Sans";
	font-size: 24px;
	color: white;
	margin-left: 30px;
	text-transform: uppercase;
	text-align: center;
}

.datum{
	margin-top: 0;
	font-size: 14px;
	color: white;
	margin-left: 30px;
	text-transform: uppercase;
	text-align: center;
}

.aktuellgrad{
	font-size: 100px;
	color: white;
	margin-left: 15px;
	text-align: center;
}

.wetteraktuell{
	margin-top: 45px;
	text-align: center;
}

.desktop1{
	text-align: center;
}

.symbolwetter{
	margin-top: 50px;
}

/*Infos */
.infos{
	font-size: 16px;
	font-family: "Open Sans";
	display: inline;
	margin-left: 8px;
}

.symbol{
	width: 24px;
	height: 24px;
}

.Stats{
	border-bottom: #aaa solid 1px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	text-align: center;
}

.aussichten{
	margin-top: 15px;
	margin-left: 15px;
	text-align: center;
}

/*
.reduziert.row{
border-top: #aaa solid 1px;
float: right;
margin-right: 10px;
text-align: center;
}*/

.Mo, .Di, .Mi, .Do, .Fr{
	color: rgba(51, 51, 51, 0.502);
	font-size: 16px;
}

.temp{
	font-size: 20px;
	margin-top: 10px;
}

.icon{
	height: 40px;
	width: 40px;
}

/*.max{
color: white;
margin-left: 15px;
padding-top: 5px;
font-size: 10px;
}*/

/* Mobile*/

@media (min-width: 33.9em)  {
	footer{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}

/* lg */
@media (max-width: 74.9em) {

}
/* md */
@media (max-width: 61.9em)  {
	.infos {
		font-size: 13px;
	}

	.Stats.row{
		padding-top: 10px;
		padding-bottom: 15px;
	}

	.aktuellgrad{
		margin-left: 15px;
		padding-top: 5px;
		font-size: 85px;
	}
}
/* sm */
@media (max-width: 47.9em) {

}
/* xs */
@media (max-width: 33.9em) {
	.infos{
		font-size: 13px;
	}

	.city{
		font-size: 20px;
		text-align: left;
	}

	.symbol{
		width: 18px;
		height: 18px;
	}

	.datum{
		font-size: 11px;
		text-align: left;
	}

	.aussichten{
		margin-left: 0px;
		margin-right: 0px;
	}

	.mobileversion{
		font-size: 16px;
	}

	.wetteraktuell{
		margin-left: 15px;
		margin-top: 33px;
		text-align: left;
	}

	.aktuellgrad{
		padding-top: 0px;
		text-align: left;
	}

	.desktop1{
		text-align: left;
	}

}
