.alles {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 57;
}
.Navigation_Bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 56;
}
.city {
  font-size: 34px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 333.312px;
  top: 562.6px;
  z-index: 55;
}
.Temp {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 53;
}
.temperature {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 52;
}
.grad {
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 148px;
  top: 529px;
  width: 9px;
  height: 9px;
  z-index: 51;
}
.aktuell {
  font-size: 374px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.32709024782046,0,0,0.32499373801493,0,0);
  -webkit-transform: matrix( 0.32709024782046,0,0,0.32499373801493,0,0);
  -ms-transform: matrix( 0.32709024782046,0,0,0.32499373801493,0,0);
  position: absolute;
  left: 6.226px;
  top: 358.043px;
  z-index: 50;
}
.Date {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 48;
}
.datum {
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 334.844px;
  top: 599.88px;
  z-index: 47;
}
.icon {
  /*background-color: rgb(255, 255, 255);*/
  position: absolute;
  left: 234px;
  top: 569px;
  /*width: 73px;
  height: 58px;*/
  z-index: 46;
}
.bg_Kopie {
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  position: absolute;
  left: -31px;
  top: 500px;
  width: 690px;
  height: 160px;
  z-index: 44;
}
.bg {
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  position: absolute;
  left: -112px;
  top: 500px;
  width: 771px;
  height: 160px;
  z-index: 43;
}
.Stats {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 41;
}
.South {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 40;
}
.compass {
  /*background-color: rgb(51, 51, 51);*/
  position: absolute;
  left: 293px;
  top: 709px;
  width: 26px;
  height: 26px;
  z-index: 39;
}
.windrichtung {
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(28, 28, 28);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 333.578px;
  top: 707.1px;
  z-index: 38;
}
.Speed {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 36;
}
.kmh {
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(28, 28, 28);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 118.047px;
  top: 704.6px;
  z-index: 35;
}
.flag {
  /*background-color: rgb(51, 51, 51);*/
  position: absolute;
  left: 80px;
  top: 706px;
  width: 24px;
  height: 27px;
  z-index: 34;
}
.Umbrella {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 641px;*/
  /*height: 1136px;*/
  z-index: 32;
}
.umbrella {
  /*background-color: rgb(51, 51, 51);*/
  position: absolute;
  left: 451px;
  top: 704px;
  width: 30px;
  height: 30px;
  z-index: 31;
}
.wahrscheinlichkeit {
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(28, 28, 28);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 496.953px;
  top: 705.1px;
  z-index: 30;
}
.5day {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 27;
  border-top: rgb(170, 170, 170) 1px solid;
}



.line {
  background-color: rgb(170, 170, 170);
  position: absolute;
  left: 1px;
  top: 784px;
  width: 640px;
  height: 1px;
  z-index: 26;
}
.temp {
  z-index: 25;
}
._8° {
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 550.939px;
  top: 975px;
  z-index: 24;
}
._7° {
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 432.485px;
  top: 974.5px;
  z-index: 23;
}
._3° {
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 318.485px;
  top: 975px;
  z-index: 22;
}
._4° {
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 202.228px;
  top: 974.5px;
  z-index: 21;
}
._4° {
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 82.227px;
  top: 974.5px;
  z-index: 20;
}
.weather {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 18;
}
.days {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 641px;
  height: 1136px;
  z-index: 11;
}
.Fr {
  font-size: 12px;
  font-family: "Open Sans";
  color: rgba(51, 51, 51, 0.502);
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 550.831px;
  top: 839.002px;
  z-index: 10;
}
.Do {
  font-size: 12px;
  font-family: "Open Sans";
  color: rgba(51, 51, 51, 0.502);
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 428.855px;
  top: 839.502px;
  z-index: 9;
}
.Mi {
  font-size: 12px;
  font-family: "Open Sans";
  color: rgba(51, 51, 51, 0.502);
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 318.08px;
  top: 839.002px;
  z-index: 8;
}
.Di {
  font-size: 12px;
  font-family: "Open Sans";
  color: rgba(51, 51, 51, 0.502);
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 200.699px;
  top: 839.002px;
  z-index: 7;
}
.Mo {
  font-size: 12px;
  font-family: "Open Sans";
  color: rgba(51, 51, 51, 0.502);
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  -moz-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -webkit-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  -ms-transform: matrix( 1.92085406231365,0,0,1.83619608563817,0,0);
  position: absolute;
  left: 81.236px;
  top: 839.502px;
  z-index: 6;
}
.Background {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -31px;
  width: 690px;
  height: 494px;
  z-index: 2;
}
