@charset "UTF-8";

body{
  font-family: "Open Sans";
  margin: 0;
  overflow: hidden;
}

main{
  padding-right: 0;
}

.custom{
  color: white;
  height: 0;
}

a.custom{
  background-color: #F4F4F4;
}


.container-fluid.header{
  padding-left: 0;
  padding-right: 0;
}

.backgroundimg{
  background-image: url(../img/chur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 452px;
  margin: 0;
}

.background{
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 0;
  height: 125px;
}

.background.row{
  margin-top: 275px;
}


/* Aktuell Start*/
.city{
  margin-top: 50px;
  margin-bottom: 0;
  /*padding-top: 275px;*/
  font-family: "Open Sans";
  font-size: 24px;
  color: white;
  margin-left: 30px;
}

.datum{
  margin-top: 0;
  font-size: 14px;
  color: white;
  margin-left: 30px;
}

.aktuellgrad{
  font-size: 100px;
  color: white;
  margin-left: 15px;
}

.symbolwetter{
  margin-top: 50px;
}
/* Akt
uell Ende*/

/*Infos Start*/
.infos{
  font-size: 16px;
  font-family: "Open Sans";
  display: inline;
  margin-left: 8px;
}
/*Infos Ende*/

.symbol{
  width: 24px;
  height: 24px;
}

.Stats{
  border-bottom: #aaa solid 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.aussichten{
  margin-top: 15px;
  margin-left: 15px;
}

.reduziert{
  border-top: #aaa solid 1px;
  float: right;
  margin-right: 10px;
}


.Mo, .Di, .Mi, .Do, .Fr{
  color: rgba(51, 51, 51, 0.502);
  font-size: 16px;
}

.temp{
  font-size: 20px;
  margin-top: 10px;
}

.icon{
  height: 40px;
  width: 40px;
}


@media screen and (max-width : 768px)  {
  .infos {
    font-size: 13px;
  }
}

@media screen and (max-width : 450px) {
  .infos{
    font-size: 10px;
  }
}
